.navbar {
    width: 100%;
    height: 70px;
    background-color: var(--background-color);
    position: fixed;
    z-index: 5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}
.navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar__logo {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}
.navbar__logo-primary {
    color: var(--primary-color);
}
.navbar__links {
    display: flex;
    column-gap: 25px;
    align-items: center;
}
.navbar__link {
    color: #fff;
    transition: color 250ms ease-in-out;
}
.navbar__link:hover {
    color: var(--primary-color);
}
.navbar__link_active {
    color: var(--primary-color);
}