.header-actor {
    background-color: rgba(45, 44, 50, .5);
    padding: 55px 0;
}
.header-actor__block {
    display: flex;
    column-gap: 30px;
}
.header-actor__image {
    width: 170px;
    height: 240px;
    border-radius: 7px;
    box-shadow: 0 7px 5px 0px rgba(0, 0, 0, .7);
}
.header-actor__image-img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.header-actor__info {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-top: 10px;
}
.header-actor__title {
    font-size: 16px;
}
.header-actor__name {
    font-size: 55px;
    margin: 0;
}