* {
    box-sizing: border-box;
}
:root {
    --background-color: #16151a;
    --primary-color: #ffff4d;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    background-color: var(--background-color);
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}
ul, figure, 
figcaption, p,
h1, h2, h3,
h4, h5, h6 {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.main {
    padding: 70px 0;
}