{% extends "base.html" %}
{% block header %}

    <header class="header-actor">
        <div class="container">
            <div class="header-actor__info">
                <span class="header-actor__title">{{ filter_title }}</span>
                <h3 class="header-actor__name">{{ filter_name }}</h3>
            </div>
        </div>
    </header>
    
{% endblock header%}
{% block content %}
    <main class="cards">
        {% for movie in movies %}
        <div class="card">
            <a href={% url 'current_movie' movie.id %} class="card__image-link">
                <div class="card__image">
                    <img src={{ movie.url }} alt="" class="card__image">
                </div>
                <span class="card__name">{{ movie.name }}</span>
            </a>
            
            <div class="card__info">
                <a href="" class="card__year">{{ movie.year }}</a> /
                <a href="" class="card__genre">{{ movie.genre }}</a>
            </div>
        </div>
        {% endfor %}
    </main>
{% endblock content %}